/* RESET */
*{

	margin:0;
	padding:0;
	font-size:100%;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	max-width: 100%;



}

/*pop-up-inicio*/


.container-popup {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 199;
    position: fixed;
    left: 0%;
    top: 30%;    

}

.popupimg {

  visibility: hidden;     
  width: 400px;
  height: auto;  
  z-index: 199; 
  background-color: #bbb;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
  cursor: pointer;
}

@media (max-width: 450px) {

  .popupimg{

    width: 85vw;
    height: auto; 
    z-index: 199;
  }
}


@media (max-width: 350px) {

  .popupimg{

    width: 90vw;
    height: auto;
    z-index: 199;   

  }
}

.popupimg::after {
  content: "";
   
}


 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;  
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/*pop-up-end*/

/*preloader-inicio*/

.icon-img {

	width: 8rem;
	height: 8rem;
	margin-bottom:10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(166, 166, 166, 0.8);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader {
    width: 80px;
    height: 80px;
}

.loader::after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #D93644 transparent #D93644 transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*preloader-final*/


 /* Cabeçalho */

 .cabecalho {
 	max-width: 100%;  	 	
	background-color: #A6A6A6;
	height: 100px; 
	display: flex;
	align-items: center;
	border-bottom:2px solid #090126; 


 } 

 @media(max-width: 1050px) {

	.menu a{

		display: none;
		width: 2px;
	} 	
}


.menu-mobile {
	
	position: absolute;
	right: 8%;

}

menu-mobile label{

	position: absolute;
	right: -5%;
	top:-40px;
}

@media(min-width: 1050px) {

	.menu-mobile i{

		display: none; 


	} 	
}


.fa-bars {

	font-size: 40px;
	color:#090126; 

	
}


 .logo {
	
	display: inline;
	position: absolute;
	left: 60px;
	top:25px; 
	border: 0;

 }
@media(max-width: 850px) {

	.logo {

		left: 30px;
	}
}

 .img-logo {

 	
 	height: auto;
 	width: 150px;
 	position: relative;
 	bottom: 10px;
 	border: 0;
 }



 .menu {

 	display: flex;
 	position: absolute;
 	top:40px; 
 	right: 2%;
 	text-decoration: none; 	
 	width: 710px;
 	height: auto; 	


 } 

  @media(max-width: 1250px) {

	.menu {

 	display: flex;
 	position: absolute;
 	top:40px; 
 	right:2%;
 	text-decoration: none; 	
 	width: 710px;
 	height: auto; 
 	flex-wrap: row;	 
 }
} 


 .menu li{

	display: inline;
	list-style: none;
	margin-left: 30px;		
	font-size: 14px; 
	font-family:sans-serif;
	color: #090126; 	 
	flex-wrap: nowrap;
	
}

a {

	font-size: 14px;
	color: #090126;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bolder;
	border: 0;
	text-decoration: none;
}

/*icons-ini*/

.fa-home {

	font-size: 16px;	
	margin: 2px;
}

.fa-user-group {

	font-size: 16px;	
	margin: 2px;
}

.fa-truck {

	font-size: 16px;	
	margin: 2px;

}

.fa-location-crosshairs {

	font-size: 16px;	
	margin: 2px;

}

.fa-whatsapp {

	font-size: 18px;	
	margin: 2px;
}

/*icons-fim*/

input[type="text"] {
	text-align: center;
}

@media(max-width: 1050px) {

	.menu {

		display: none;
		width: auto;
	} 	
	.menu a{

		display: none;
	} 	
}



.menu-mobile {
	
	position: absolute;
	right: 8%;
	
}

@media(max-width: 300px) {

	.menu-mobile {
	
	position: absolute;
	right: 12%;
	
}


}

.menu-mobile label{

	position: absolute;
	right: -6%;
	top:-40px;
}





/*animation-menu-mobile*/
@media(min-width: 1050px) {

	.barra {

		display: none;
	} 	
}

#check {
	display: none;
}

#icone {
	cursor:pointer;
	padding: 15px;
	position: absolute;
	z-index: 1; 
}
.barra {
	background-color: #333;
	height: 100%;
	width: 250px;
	position: absolute;
	transition: all .2s linear;
	right: 100%; 
	z-index: 1;
	top:-19.7px;
	text-align: center;
	

}

nav {
	width: 300px;
	position: absolute;
	top:60px;
	z-index: 3;
	 	
	

}

nav a {
	text-decoration: none;
	z-index: 3;

}

.link-co {
	color:#5EEEF4;
}

.link {
	background-color: rgba(166,46,56, 0.8);
	padding: 20px;
	font-family: sans-serif;
	font-size: 12pt;
	transition: all .2s linear;
	color: #fff;
	border-bottom: 2px solid #fff; 
	opacity: 0;
	margin-top: 200px;
}



 a:hover {
	border-radius: 2px;
	color: #732626;	
	z-index: 1;
	padding: 2px;
}

div[type="text"]:hover {
	border-radius: 2px;
	background-color: #090126;		
	z-index: 1; 	

}

#check:checked ~ .barra {
	
	transform: translateX(300px);
}

#check:checked ~ .barra nav a .link {
	
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}

/*animation-menu-mobile*/



@media(min-width: 1050px) {

	.menu-mobile i{

		display: none; 


	} 	
}



}
.menu-mobile i{
	position: relative;
	right: 8%;
	top:-40px;
	

}

 /*banner*/


.container-banner {

	display: flex;
	align-items: center;
	justify-content: center;
}






.img-desktop {

	width: 100%;
	height: auto;
	pointer-events: none;
}

@media (max-width:950px) {

	.img-desktop {

		display: none;
	}
}


.img-mobile {

	display: none;	
	pointer-events: none;
}

@media (max-width:950px) {

	.img-mobile {

		width: 100%;
		height: auto;
		display: block;
	}
}



.container-bar {

	width: 100%;
	height: 80px;
	background-color: #090126;
	border-top: solid 2px #fff;
}




/*caracterist*/


.container-caracterist {

	
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
	margin-bottom: 50px;	

	
}


.logo-mid {

	width: 110px;
	height: auto;
	border-bottom: 20px;
	margin-top: 100px;
	pointer-events: none;
}


.container-caracterist hr {

	width: 35%;
	border-width: 1px;
	border-color: #090126; 
	margin: 20px 10px 20px 10px;
	position: relative;
	top: 30px;
}



.container-caracterist h2 {

	font-family: sans-serif;
	word-break: normal;
	text-transform: uppercase;
	font-size: 20px;
	color: #090126;
	font-weight: bolder;
	margin: 20px 15px 20px 15px;
	position: relative;
	top: 30px;
	text-align: center;
	line-height: 35px;
} 


.caracterist-imgs {


	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 20px; 	
	height: auto;
	margin: 80px 15px 80px 15px;
	border-radius: 8px;
	color: #090126;
	text-transform: uppercase;
	font-size: 14px;  	
	background-color: #F4F5FA; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	
}


@media (max-width: 900px) {

	.caracterist-imgs {

		display: grid;
		grid-template-columns: auto auto;
	}
}


@media (max-width: 500px) {

	.caracterist-imgs {

		display: grid;
		grid-template-columns: auto;
	}
}




.sub-caracterist {

	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 50px 30px 50px 30px;
	align-items: center; 	
	padding: 10px;
	font-weight: bolder;
}

.sub-caracterist img {

	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	pointer-events: none;

} 


/*outras-info*/


.container-info {

	width: 100%;
	height: auto;
	padding: 60px;
	background-color: #F4F5FA;
	color: #fff;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center; 
	background-image: url(../imgs/alagoas-0.webp);
	background-repeat: no-repeat; 
	background-position: left; 


} 

@media (max-width: 1400px) {

	.container-info {

		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
		align-items: center; 
		background-image: url(../mgs/alagoas.webp);
		background-repeat: no-repeat; 
		background-position: center; 
	}
}


@media (max-width: 900px) {

	.container-info {

		display: grid;
		grid-template-columns: auto;
		padding: 60px 10px 40px 10px;
		justify-content: center;
		align-items: center; 
		background-image: url(../imgs/alagoas-2.webp);
		background-repeat: no-repeat; 
		background-position: center; 
	}
}


@media (max-width: 600px) {

	.container-info {

		display: grid;
		grid-template-columns: auto;
		padding: 60px 10px 40px 10px;
		justify-content: center;
		align-items: center; 
		background-image: url(../imgs/alagoas-3.webp);
		background-repeat: no-repeat; 
		background-position: center; 
	}
}


.element-info {

	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 15px 20px 15px;
	text-align: center; 	
} 


.element-info-2 {

	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 15px 20px 15px;
	text-align: center; 	
}

@media (max-width: 900px) {

	.element-info-2 {

		display: none;
	}
}

.element-info-3 {

	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 15px 20px 15px;
	text-align: center; 	
}  

@media (min-width: 900px) {

	.element-info-3 {

		display: none;
	}
}



.img-info {

	width: 250px;
	height: auto;
	border: solid 2px #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	pointer-events: none;
}	

.text-info {

	width: 200px;
	word-break: normal;
	line-height: 25px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bolder;
	background-color:  rgba(166,46,56, 0.7);
	padding: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	border: solid 2px #090126;
	
}


.brown {

	width: 100%;
	height: 40px;
	background-color: #732626;
	border-top: solid 2px #090126;
}

/*galeria*/

.container-galeria {

	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	background-image: url(../imgs/icon-logo-3.webp);
	background-repeat: no-repeat;
	background-position: top; 
	

} 



.title-galery {

	font-size: 24px;
	font-family: sans-serif;
	word-break: normal;
	margin: 120px 12px 30px 12px;
	color: #090126;
	text-transform: uppercase;
	line-height: 35px;
	text-align: center;
	
}


.text-galery {

	font-size: 20px;
	font-family: sans-serif;
	word-break: normal;
	margin: 0 12px 30px 12px;
	color: #090126;
	text-transform: uppercase;
	line-height: 35px;
	text-align: center;
	


}

.galeria {

	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 100px 10px 20px 10px;
	justify-content: center;
	
} 

@media (max-width: 1350px) {

	.galeria {

		display: grid;
		grid-template-columns: auto auto;
	}
}



@media (max-width: 1000px) {

	.galeria {

		display: grid;
		grid-template-columns: auto;
	}
}


.img-galeria {

	width: 400px;
	height: 400px;
	margin: 50px 15px 50px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6); 
	pointer-events: none;	

	
}

@media (max-width: 500px) {

	.img-galeria {

		width: 85vw;
		height: auto;
		margin: 30px 4px 30px 4px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	}
}


/*satisfação*/

.container-satisfacao {

	width: 100%;
	height: auto;
	background-color: #fff;
	margin-top: 50px;
	padding: 80px 0 80px 0;
	color: #141414;
	display: flex;
	justify-content: center;
	align-content: center; 	
	text-align: center;
	text-transform: uppercase;
	word-break: normal;
	font-family: sans-serif;
	border-top: solid 40px #141414; 
	border-bottom: solid 40px #141414;  
	background-image: url(../imgs/bg.webp);
	background-repeat: repeat;
	background-position: center;

		
}

.txt-satisfacao {

	font-size: 24px;
	margin: 40px 2px 40px 2px;
	line-height: 40px; 	
	background-color: #F4F5FA;

}

.sub-satisfacao {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	background-color: #F4F5FA;	
	padding: 50px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	margin: 10px;  
}


@media (max-width: 300px) {

	.sub-satisfacao {

		padding: 20px;
	}
}

.container-stars {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row; 
	width: 200px;
	color: #FFD700;
	margin: 40px 10px 20px 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
	padding: 10px;
	border-radius: 4px;
	background-color: #F4F5FA;

}

.fa-star {

	margin: 3px;
	font-size: 26px;
	-webkit-text-stroke: 2px #090126;
 	

}



.main {

	max-width: 100%;
	margin:0 auto;
	width: 80%;
	background-color: #fff;
	
	
}

.img-satisfacao {
	
	width: 250px;
	height: auto;
	pointer-events: none;
		
}

/*maps*/



.container-map {

	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;   

}

.container-hover {

	width: 100%;
	height: 400px; 	
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 	
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(166,46,56, 0.8);  
	
} 


.container-map:hover .container-hover {
  opacity: 1;
}


.map-link {

	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: bolder;
	word-break: normal;
	text-align: center;
	margin: 10px 12px 10px 12px;
	line-height: 30px;

}

.map-link:hover {

   transition: 2s ease;
   color: #090126;
}




.mapa {

	
	width: 100%;
	height: 400px;
	
}




/*rodape*/


.container-rodape {

	width: 100%;
	height: auto;
	background-color: #A6A6A6;	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	border-top: solid 2px #090126;
	
}



.ctt-rdp {

	color: #732626;
	font-family: sans-serif;		
	font-size: 0.9rem;
	margin-left: 5px;
}

.ctt-rdp:hover {

	color: #A62E38;
}
.cp-email {

	font-size: 0.9rem;
}

@media (max-width: 400px) {

	.cp-email {

	font-size: 0.8rem; 
}
}

.rp-1 {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	padding: 30px 0 30px 0;
}

@media (max-width: 700px) {

	.rp-1 {

		display: flex;
		flex-direction: column;
	}
}

.img-rdp {

	border-right: solid 2px #090126;
	margin: 50px;
	padding: 20px;
	pointer-events: none;
	
}

@media (max-width: 700px) {

	.img-rdp {

	border-right: 0px;
	margin: 30px;
	padding: 0px;
	
}
}

.ctn-txt {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 30px;
	text-align: center; 	
	color: #090126; 
	font-family: sans-serif;
	font-weight: bolder;	
	font-size: 1rem;
	text-transform: uppercase;

	
} 

@media (max-width: 700px) {

	.ctn-txt {

		margin-bottom: 50px;
	}
}

.ctn-txt span {

	margin: 5px 2px 0px 2px;
}

.ctn-txt .fa-whatsapp {

	font-size: 1.4rem;
}

.ctn-txt .fa-instagram {

	font-size: 1.4rem;
}

.razao-social {

	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem; 
	font-weight: bolder;
	color: #090126;
	flex-direction: column;
}




.razao-social span {

	margin-bottom: 10px;
}




.rp-2 {

	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	word-break: normal;
	line-height: 20px;
	font-size: 0.6rem;
	background-color: #732626;
	color: #fff; 
	padding: 10px;
}


/*scrowbar*/


		::-webkit-scrollbar {
		  width: 10px; 
		}		
		 
		body::-webkit-scrollbar-track {

  			background-color:  #bbb; 
        }	
	

		::-webkit-scrollbar-thumb:vertical {
		  background-color: rgba(0, 0, 0, 0.1);			      
		  border-radius: 8px;
		  box-shadow: inset 0 0 5px #090126;
		}

		::-webkit-scrollbar-vertical {
		  box-shadow: inset 0 0 5px #090126;
		  border-radius: 10px;
		}
		 
		
		::-webkit-scrollbar-thumb:hover {
		  background-color: #F4F5FA; 
		}
